.chat-box
.chat-box__top
  .chat-name
    = message.user.name
  .chat-date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.chat-box__message
  - if message.content.present?
    %p 
      = message.content
  = image_tag message.image.url, class: 'Message__image' if message.image.present?